---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";

import { site } from "../../config";
---

<Layout>
	<main>
		<section class="examples">

			<Button icon="cart">Add to Cart</Button>

			<Button icon="palette">Choose Color</Button>

			<Button icon="menu">Menu</Button>

		</section>
	</main>
</Layout>
